

body{
    background-color: rgb(190, 200, 202);
}

table tr {
    font-style: italic;
    padding-left: 15px;
    background-color: rgb(255, 255, 255);
   
    
}

table{
    margin-top: 15px;
}







